$primary: #444cf7;
$primary_gradiant: #767cf9;
$secondary: #4df744;
$third: #ff1111;
$fourth: #ffca3c;
$fifth: #fd6036;
$soft-gray: #e3e3e3;
$white: #fbfbfb;
$black: #171120;
$border: 1rem solid rgb(0, 0, 0, 0.2);
$shadow: 0 0 1rem 3px rgb(0, 0, 0, 0.1), 0 0 1rem -3px rgb(0, 0, 0, 0.1);

body {
  &.color_mode {
    background-image: radial-gradient($primary 0.5px, transparent 0.5px),
      radial-gradient($primary 0.5px, hsl(226, 100%, 82%) 0.5px);
    color: $black;
    header {
      nav {
        background: $primary;
        .humburger_menu_btn {
          svg {
            fill: $black;
          }
        }
        li {
          background: $primary;
          &::after {
            background: $primary;
          }
          a {
            color: $black;
          }
        }
      }
    }
    main {
      background-color: hsl(0, 0%, 90%, 0.1);
      section {
        &:nth-child(2n) {
          p {
            border-left: 2px solid $black;
          }
          &::before {
            background: $primary;
          }
        }
      }
      .section_1 {
        color: $black;
        .img_border {
          background: $primary;
          .place_holder {
            fill: $black;
          }
        }
        p {
          border-right: 2px solid $black;
        }
      }
      .section_3 {
        .skill {
          color: $white;
          box-shadow: none;
          background-color: hsl(0, 100%, 100%, 0.2);
          svg {
            stroke: url(#progress_bar_color_mode);
          }
        }
      }
    }
    footer {
    }
    .theme_list {
      background-color: $primary_gradiant;
      outline: 2px solid $primary;
      .theme_list_item,
      .theme_list_btn {
        background-color: $primary;
        outline: 1px solid $primary;
        svg {
          fill: white;
        }
      }
      .theme_list_item {
        &.active {
          svg {
            fill: yellow;
          }
        }
      }
    }
    .shape {
      &.empty_circle {
        border: 5px solid $secondary;
      }
      &.empty_square {
        border: 5px solid $third;
      }
      &.triangle {
        background-color: $fourth;
        &.pentagon {
          background-color: $fifth;
        }
      }
    }
  }
}
