$primary: #866ee0;
$primary_gradiant: #4828bd;

$secondary: #ece9fe;

$fifth: #fe9ecc;
$third: #ff6b90;
$fourth: #ffca3c;

$soft-gray: #e3e3e3;
$black: #171120;
$border: 1rem solid rgb(0, 0, 0, 0.2);
$shadow: 0 0 1rem 3px rgb(0, 0, 0, 0.1), 0 0 1rem -3px rgb(0, 0, 0, 0.1);
