.skills {
  .skill {
    svg {
      width: 160px;
      height: 160px;
      position: absolute;
      top: 0;
      left: 0;
      stroke: url(#progress_light_mode);
      circle {
        fill: none;
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        transition: stroke-dashoffset 6s linear;
      }
    }
   
  }
}
