.skills {
  .skill {
    svg {
      width: 160px;
      height: 160px;
      position: absolute;
      top: 0;
      left: 0;
      circle {
        fill: none;
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        transition: stroke-dashoffset 6s linear;
      }
    }
    &.skill_1 {
      stroke: url(#progress_bar_1);
    }
    &.skill_2 {
      stroke: url(#progress_bar_2);
    }
    &.skill_3 {
      stroke: url(#progress_bar_3);
    }
    &.skill_4 {
      stroke: url(#progress_bar_4);
    }
    &.skill_5 {
      stroke: url(#progress_bar_5);
    }
    &.skill_6 {
      stroke: url(#progress_bar_6);
    }
  }
}
