$primary: #ece9fe;
$secondary: #fe9ecc;
$third: #ffd0dc;
$fourth: #ffca3c;
$fifth: #866ee0;
$soft-gray: #e3e3e3;
$black: #171120;
$border: 1rem solid rgb(0, 0, 0, 0.2);
$shadow: 0 0 1rem 3px rgb(0, 0, 0, 0.1), 0 0 1rem -3px rgb(0, 0, 0, 0.1);


