@use "./globle_Modifier";
@use "./theme_1" as theme_1;
@use "./bg_animation";
@use "./progress";
@use "./dark_mode";

body {
  position: relative;
  width: 100%;
  background-color: theme_1.$primary;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

header {
  width: min(768px, 100%);
  margin-inline: auto;
  nav {
    transition: translate 0.4s linear;
    position: fixed;
    top: 0;
    width: min(768px, 100%);
    height: 70px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(253, 65%, 65%, 0.6);
    box-shadow: theme_1.$shadow;
    ul {
      width: 320px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1.5rem;
      font-size: 1.5rem;
      padding-top: 10px;
      a {
        transition: font-size 0.2s linear, color 0.2s linear;
        line-break: none;
        &:hover {
          color: theme_1.$fourth;
        }
      }
    }
  }
}
.humburger_menu_icon {
  display: none;
}
.bg_animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
main {
  width: min(768px, 100%);
  margin-inline: auto;
  background-color: hsl(0, 0%, 100%, 0.6);
  box-shadow: theme_1.$shadow;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  section {
    padding: 1rem;
    border-inline: 1px solid transparent;
    min-height: 360px;
    + section:nth-child(2n) {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-block: 3rem;
      gap: 1rem;
      h2 {
        padding: 1rem;
      }
      p {
        border-left: 2px solid black;
        padding: 8px;
      }
      &::before {
        content: "";
        position: absolute;
        width: min(768px, 100%);
        height: 100%;
        background: #866ee0;
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: -1;
        clip-path: polygon(19% 0%, 100% 1%, 100% 100%, 19% 100%, 0% 50%);
      }
      &:nth-child(4)::before {
        clip-path: polygon(0% 0%, 81% 0%, 100% 50%, 81% 100%, 0% 100%);
      }
    }
  }
  .section_1 {
    display: flex;
    align-items: center;
    margin-top: 70px;
    font-size: 3rem;
    .img_border {
      position: relative;
      width: 100%;
      max-width: 200px;
      aspect-ratio: 1;
      overflow: hidden;
      z-index: 10;
      border-radius: 50%;
      box-shadow: 6px 6px 10px -1px rgb(0 0 0 / 15%),
        -6px -6px 10px -1px rgb(255 255 255 / 70%);
      background: hsl(253, 65%, 65%, 0.6);
      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .aside {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
        min-height: 2.5rem;
      }
    }
  }
  .section_3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2 {
      text-align: center;
    }
    .skills {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 2rem;
      .skill {
        position: relative;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: theme_1.$primary;
        box-shadow: 6px 6px 10px -1px rgb(0, 0, 0, 0.15),
          -6px -6px 10px -1px rgb(255, 255, 255, 0.7);
      }
    }
  }
}
footer {
  width: min(768px, 100%);
  height: 200px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    svg {
      width: 50px;
      height: 50px;
    }
  }
}
.theme_list {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  padding: 5px;
  background-color: #e5e5f7;
  justify-content: flex-end;
  transition: width 1s linear;
  &.checked {
    width: 160px;
    gap: 5px;
  }
  .theme_list_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #866ee0;
    transition: rotate 2s linear;
    &:not(:last-child) {
      width: 30px;
      height: 30px;
      margin-block: auto;
    }
    &.checked {
      transform: rotate(225deg);
    }

    svg {
      fill: white;
    }
  }
}
@media (max-width: 486px) {
  .section_1 {
    flex-direction: column;
  }
  .humburger_menu_icon {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 54px;
    padding: 5px;
    aspect-ratio: 1;
    img {
      width: 100%;
      aspect-ratio: 1;
    }
  }

  .sections_menu {
    position: absolute;
    top: 70px;
    right: 0;
    width: 147px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s linear;
    li {
      background: #866ee0;
      width: 100px;
      padding: 5px;
      text-align: center;
      position: relative;
      right: -110px;
      &:nth-child(1) {
        transition: transform 0.2s linear;
      }
      &:nth-child(2) {
        transition: transform 0.2s linear 0.2s;
      }
      &:nth-child(3) {
        transition: transform 0.2s linear 0.4s;
      }
      &:nth-child(4) {
        transition: transform 0.2s linear 0.6s;
      }
      &:nth-child(5) {
        transition: transform 0.2s linear 0.8s;
      }
      &.show {
        transform: translateX(-134px);
      }
      &::after {
        content: "";
        position: absolute;
        width: 5px;
        height: 100%;
        top: 0;
        right: -10px;
        background: #866ee0;
      }
    }
  }
}
