* {
  font-family: serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.shape {
  position: absolute;
  z-index: -1;
  transition: transform 60s linear, rotate 30s linear;
}
.shape.empty_circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #fe9ecc;
}
.shape.empty_square {
  width: 100px;
  height: 100px;
  border: 5px solid #ffd0dc;
}
.shape.triangle {
  width: 100px;
  height: 100px;
  scale: 0.5;
  background-color: #ffca3c;
  -webkit-clip-path: polygon(95% 50%, 27.67% 11%, 27.67% 89%, 95% 50%, 86% 50%, 32% 81.33%, 32% 18.66%, 86% 50%);
          clip-path: polygon(95% 50%, 27.67% 11%, 27.67% 89%, 95% 50%, 86% 50%, 32% 81.33%, 32% 18.66%, 86% 50%);
}
.shape.pentagon {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-clip-path: polygon(0% 38%, 18% 100%, 82% 100%, 100% 38%, 50% 0%, 0% 38%, 5% 38%, 50% 5%, 95% 38%, 77% 95%, 23% 95%, 5% 38%);
          clip-path: polygon(0% 38%, 18% 100%, 82% 100%, 100% 38%, 50% 0%, 0% 38%, 5% 38%, 50% 5%, 95% 38%, 77% 95%, 23% 95%, 5% 38%);
  background-color: #866ee0;
}

.skills .skill svg {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
}
.skills .skill svg circle {
  fill: none;
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  transition: stroke-dashoffset 6s linear;
}
.skills .skill.skill_1 {
  stroke: url(#progress_bar_1);
}
.skills .skill.skill_2 {
  stroke: url(#progress_bar_2);
}
.skills .skill.skill_3 {
  stroke: url(#progress_bar_3);
}
.skills .skill.skill_4 {
  stroke: url(#progress_bar_4);
}
.skills .skill.skill_5 {
  stroke: url(#progress_bar_5);
}
.skills .skill.skill_6 {
  stroke: url(#progress_bar_6);
}

body.dark_mode {
  background-image: radial-gradient(#ffca3c 0.5px, transparent 0.5px), radial-gradient(#ffca3c 0.5px, #1a1a1a 0.5px);
  color: white;
}
body.dark_mode nav {
  background: hsla(253deg, 65%, 65%, 0.9);
}
body.dark_mode nav a {
  color: white;
}
body.dark_mode main {
  background-color: hsla(0deg, 0%, 100%, 0.1);
  box-shadow: 0 0 1rem 3px rgba(0, 0, 0, 0.1), 0 0 1rem -3px rgba(0, 0, 0, 0.1);
}
body.dark_mode main section:nth-child(2n) p {
  border-left: 2px solid white;
}
body.dark_mode main .section_1 .img_border {
  box-shadow: none;
}
body.dark_mode main .section_1 p {
  border-right: 2px solid white;
}
body.dark_mode main .section_3 .skill {
  color: white;
  box-shadow: none;
  background-color: hsla(0deg, 100%, 100%, 0.1);
}
body {
  position: relative;
  width: 100%;
  background-color: #ece9fe;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

header {
  width: min(768px, 100%);
  margin-inline: auto;
}
header nav {
  transition: translate 0.4s linear;
  position: fixed;
  top: 0;
  width: min(768px, 100%);
  height: 70px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(253deg, 65%, 65%, 0.6);
  box-shadow: 0 0 1rem 3px rgba(0, 0, 0, 0.1), 0 0 1rem -3px rgba(0, 0, 0, 0.1);
}
header nav ul {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  font-size: 1.5rem;
  padding-top: 10px;
}
header nav ul a {
  transition: font-size 0.2s linear, color 0.2s linear;
  line-break: none;
}
header nav ul a:hover {
  color: #ffca3c;
}

.humburger_menu_icon {
  display: none;
}

.bg_animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  width: min(768px, 100%);
  margin-inline: auto;
  background-color: hsla(0deg, 0%, 100%, 0.6);
  box-shadow: 0 0 1rem 3px rgba(0, 0, 0, 0.1), 0 0 1rem -3px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
main section {
  padding: 1rem;
  border-inline: 1px solid transparent;
  min-height: 360px;
}
main section + section:nth-child(2n) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 3rem;
  gap: 1rem;
}
main section + section:nth-child(2n) h2 {
  padding: 1rem;
}
main section + section:nth-child(2n) p {
  border-left: 2px solid black;
  padding: 8px;
}
main section + section:nth-child(2n)::before {
  content: "";
  position: absolute;
  width: min(768px, 100%);
  height: 100%;
  background: #866ee0;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-clip-path: polygon(19% 0%, 100% 1%, 100% 100%, 19% 100%, 0% 50%);
          clip-path: polygon(19% 0%, 100% 1%, 100% 100%, 19% 100%, 0% 50%);
}
main section + section:nth-child(2n):nth-child(4)::before {
  -webkit-clip-path: polygon(0% 0%, 81% 0%, 100% 50%, 81% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 81% 0%, 100% 50%, 81% 100%, 0% 100%);
}
main .section_1 {
  display: flex;
  align-items: center;
  margin-top: 70px;
  font-size: 3rem;
}
main .section_1 .img_border {
  position: relative;
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1;
  overflow: hidden;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  background: hsla(253deg, 65%, 65%, 0.6);
}
main .section_1 .img_border img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
main .section_1 .aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .section_1 .aside h1 {
  font-size: 3rem;
}
main .section_1 .aside p {
  font-size: 1.5rem;
  min-height: 2.5rem;
}
main .section_3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .section_3 h2 {
  text-align: center;
}
main .section_3 .skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
main .section_3 .skills .skill {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ece9fe;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

footer {
  width: min(768px, 100%);
  height: 200px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  display: flex;
}
footer ul svg {
  width: 50px;
  height: 50px;
}

.theme_list {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  padding: 5px;
  background-color: #e5e5f7;
  justify-content: flex-end;
  transition: width 1s linear;
}
.theme_list.checked {
  width: 160px;
  gap: 5px;
}
.theme_list .theme_list_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #866ee0;
  transition: rotate 2s linear;
}
.theme_list .theme_list_btn:not(:last-child) {
  width: 30px;
  height: 30px;
  margin-block: auto;
}
.theme_list .theme_list_btn.checked {
  transform: rotate(225deg);
}
.theme_list .theme_list_btn svg {
  fill: white;
}

@media (max-width: 486px) {
  .section_1 {
    flex-direction: column;
  }
  .humburger_menu_icon {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 54px;
    padding: 5px;
    aspect-ratio: 1;
  }
  .humburger_menu_icon img {
    width: 100%;
    aspect-ratio: 1;
  }
  .sections_menu {
    position: absolute;
    top: 70px;
    right: 0;
    width: 147px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s linear;
  }
  .sections_menu li {
    background: #866ee0;
    width: 100px;
    padding: 5px;
    text-align: center;
    position: relative;
    right: -110px;
  }
  .sections_menu li:nth-child(1) {
    transition: transform 0.2s linear;
  }
  .sections_menu li:nth-child(2) {
    transition: transform 0.2s linear 0.2s;
  }
  .sections_menu li:nth-child(3) {
    transition: transform 0.2s linear 0.4s;
  }
  .sections_menu li:nth-child(4) {
    transition: transform 0.2s linear 0.6s;
  }
  .sections_menu li:nth-child(5) {
    transition: transform 0.2s linear 0.8s;
  }
  .sections_menu li.show {
    transform: translateX(-134px);
  }
  .sections_menu li::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    right: -10px;
    background: #866ee0;
  }
}/*# sourceMappingURL=page_2.css.map */