* {
  font-family: serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.form_section .log_in_section .modal-dialog-centered {
  display: flex;
  justify-content: center;
}
.form_section .log_in_section .modal-dialog-centered .modal-content {
  width: 300px;
  border: 1px solid;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.form_section .log_in_section .modal-dialog-centered .modal-content .auto_signup_option .fa-brands {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 3rem;
}
.form_section .log_in_section .modal-dialog-centered .modal-content .divider {
  position: relative;
  width: 230px;
  display: flex;
  justify-content: center;
}
.form_section .log_in_section .modal-dialog-centered .modal-content .divider::after, .form_section .log_in_section .modal-dialog-centered .modal-content .divider::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 40%;
  background: #e3e3e3;
}
.form_section .log_in_section .modal-dialog-centered .modal-content .divider::before {
  left: 0;
}
.form_section .log_in_section .modal-dialog-centered .modal-content .divider::after {
  right: 0;
}
.form_section .log_in_section .modal-dialog-centered .modal-content form {
  width: 100%;
}
.form_section .log_in_section .modal-dialog-centered .modal-content form .form-floating input {
  transition: box-shadow 0.3s linear;
}
.form_section .log_in_section .modal-dialog-centered .modal-content form div {
  font-size: 0.8rem;
  margin-bottom: 16px;
}
.form_section .log_in_section .modal-dialog-centered .modal-content form div a {
  color: blue;
  font-size: 0.9rem;
}
.form_section .log_in_section .modal-dialog-centered .modal-content .row:last-child {
  display: flex;
  justify-content: space-around;
}
.form_section .log_in_section .modal-dialog-centered .modal-content .row:last-child .btn {
  width: 100px;
}
.form_section .sign_up_section .modal-dialog-centered {
  display: flex;
  justify-content: center;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content {
  width: 300px;
  height: 430px;
  border-radius: 10px;
  overflow: hidden;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .progress_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 50px;
  padding: 0;
  width: 200px;
  height: 24px;
  margin: 1rem auto;
  perspective: 1000px;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .progress_bar span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bolder;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #866ee0;
  z-index: 1;
  outline: 2px solid #4828bd;
  position: relative;
  transition: transform 0.3s linear;
  transform: scaleX(1);
  transform-origin: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .progress_bar span:not(.step_3)::after {
  content: "";
  position: absolute;
  top: 48%;
  height: 2px;
  width: 32px;
  right: -34px;
  transition: 1s;
  background: #ece9fe;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .progress_bar span.checked {
  transform: scaleX(0);
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .progress_bar span.checked:not(:nth-child(3))::after {
  content: "";
  background-color: #4828bd;
  position: absolute;
  top: 15px;
  left: 33px;
  height: 2px;
  width: 70px;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .progress_bar span + img {
  background-color: #4828bd;
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #866ee0;
  position: relative;
  left: -32px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: scaleX(0);
  z-index: 10;
  transition: transform 0.3s linear 0.3s;
  transform-origin: center;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .progress_bar span + img.checked {
  transform: scaleX(1);
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .progress_bar .line {
  display: block;
  position: absolute;
  top: 48%;
  left: 32px;
  height: 2px;
  width: 120px;
  background: #866ee0;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .form_btns {
  width: 300px;
  position: absolute;
  bottom: 2rem;
  left: 0;
  display: flex;
  justify-content: space-around;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .form_btns .btn {
  width: 100px;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .modal-body {
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 4rem;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .modal-body .steps_bodys {
  display: flex;
  position: absolute;
  left: 0;
  transition: transform 0.4s linear;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .modal-body .steps_bodys .step_body {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  padding-inline: 25px;
  gap: 2rem;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .modal-body .steps_bodys .step_body input {
  position: relative;
  transition: box-shadow 1s linear;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .modal-body .steps_bodys .step_body.num_4 h1 {
  text-align: center;
  width: 100%;
}
.form_section .sign_up_section .modal-dialog-centered .modal-content .modal-body .steps_bodys .step_body .input_error_message {
  display: none;
  color: hsl(17deg, 98%, 61%);
  position: absolute;
  left: 0;
  font-size: 0.75rem;
  width: 100%;
  height: 0.75rem;
}

.btn_close {
  background: white;
  border: 2px solid #e3e3e3;
  color: #171120;
}

input:focus:invalid {
  box-shadow: 0 0 0px 0.25rem hsl(17deg, 98%, 61%);
}
input:focus:invalid + p.input_error_message {
  display: block !important;
}

.background_image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.first_page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.first_page .landing {
  display: flex;
  flex-direction: column;
  background-color: hsla(0deg, 0%, 100%, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 1rem 3px rgba(0, 0, 0, 0.1), 0 0 1rem -3px rgba(0, 0, 0, 0.1);
  align-items: center;
  width: 300px;
  height: 350px;
  gap: 2rem;
  margin-inline: auto;
  margin-top: 3rem;
  padding: 2rem;
  -webkit-animation: fadeUp 2s forwards;
          animation: fadeUp 2s forwards;
  opacity: 0;
  transform: translateY(-10px);
}
.first_page .landing .btn {
  display: block;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.first_page .landing .profile {
  background-color: #ece9fe;
  border-radius: 50%;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.first_page .landing .profile img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-primary {
  background: linear-gradient(to top left, #4828bd, #866ee0);
  border: none;
}
.btn-primary:hover {
  background: linear-gradient(to top left, #6c54f8, #c0b6fc);
}

.btn-secondary {
  border-width: 2px solid;
}

@-webkit-keyframes fadeUp {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=page_1.css.map */